<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Queero Collector</title>
</head>
<body>
        {% extends 'base.html' %}
        {% block content %}

    <h1>About the Queero Collector</h1>


    <p>Collect your favourite Queer Heroes</p>
    <hr />
    <footer>All Rights Reserved, &copy; 2021 Queero Collector</footer>

{% endblock %}
</body>
</html>