<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Queero Collector</title>
</head>
<body>
        {% extends 'base.html' %}
        {% block content %}
 
    <h1>About Queeroes</h1>
  <div id="about">  
    <h3>Queeroes is a place for you to keep track of all of your most beloved Queer Heroes.</h3>
  </div>  
    <br>
    <hr />
    <footer>All Rights Reserved, &copy; 2021 Queero Collector</footer>

{% endblock %}
</body>
</html>