
{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="/queeroes/{{ queeroes.id }}/submit_update_form/">
        {% csrf_token %}
        Name: <input name="name" value="{{ queeroes.name }}"> 
        Occupation: <input name="occupation" value="{{ queeroes.occupation }}" >
        Biography: <input name="biography" value="{{ queeroes.biography }}" >
        Legacy: <input name="legacy" value="{{ queeroes.legacy }}" >
        <button type="submit">Edit Queero</button>
    </form>  
{% endblock %}
