<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queeroes</title>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}

    <div class="card">
    <!-- add this single line below -->
    <!-- <a href="/queeroes/{{ queero.id }}"> -->
      <div class="card-content">
        <span class="card-title">{{ queeroes.name }}</span>
        <p>Occupation: {{ queeroes.occupation }}</p>
        <p>Biography: {{ queeroes.biography }}</p>
        <p>Legacy: {{ queeroes.legacy }}</p>
      </div>
    </a>
    <a href="/queeroes/{{queeroes.id}}/delete/">Delete This Queero</a>
    <a href="/queeroes/{{queeroes.id}}/edit/">Edit This Queero</a>
  </div>

  {% endblock %}
</body>
</html>