
  {% extends 'base.html' %}
  {% block content %}

  <div class="card">
    <!-- add this single line below -->
    <!-- <a href="/queeroes/{{ queero.id }}"> -->
      <div class="card-content">
        <span class="card-title">{{ queeroes.name }}</span>
        <p>Occupation: {{ queeroes.occupation }}</p>
        <p>Biography: {{ queeroes.biography }}</p>
        <p>Legacy: {{ queeroes.legacy }}</p>
      </div>
          <div id="editdelete">
            <a class="homebutton" href="/queeroes/{{queeroes.id}}/delete/">Delete This Queero</a>
            <a class="homebutton" href="/queeroes/{{queeroes.id}}/edit/">Edit This Queero</a>
          </div>
  </div>

 <div class="card">
  <div class="card-content">  
    <p>Add A Quote for Queero {{queeroes.name}} </p>
      <div class="form-class">
        <form method="POST" action="/queeroes/{{queeroes.id}}/submit-quote/">
        {% csrf_token %}
        Quote: <input name="quote"> 
        <button class="homebutton" type="submit">Add A Quote</button>
      </form>
    </div>  
  </div>  
</div> 

<div class ="card">
    <div class ="card-content">
      {{queeroes.name}} Quotes
      {% for banana in quotes %}
      <p>{{ banana.quote }}</p>
      {% endfor %}
    </div>
</div>    



  {% endblock %}
