body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Shrikhand', cursive;
  font-size: large;
  color: #E2B6CF;
  word-spacing: 5px;
  background-image: url('../images/rainbow.jpg');
}
  
#homebody {
  align-items: center;
  background-image: url('../images/loe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}  

#editdelete {
  align-items: center;
  background-color: #F6EFEE ;
}

main {
    flex: 1 0 auto;
}
  
.nav-wrapper, .left, .right, .page-footer {
  background-color: #E2B6CF;
  padding-top: 0;
  text-align: right;
}

nav .brand-logo {
  color: #F6EFEE;
}

nav ul a {
  color: #F6EFEE;
}

.card{
  margin-top: 30px;
}

.form-class {
  margin-top: 30px;
}

.homebutton {
  padding: 4px 12px 4px 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: grey;
  text-decoration: none;
  max-width: 13rem;
  background-color: white;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.homebutton:hover {
  background-color: #F5E2F6;
}

.card-content {
  background-color: #F6EFEE;
  color: #e2b6cf;
  font-family: 'Roboto', sans-serif;
}

#about {
  display: inline-block;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}