body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .nav-wrapper, .left, .right, .page-footer {
    background-color: #F3DAF5;
    padding-top: 0;
    text-align: right;
  }

